.box-outer-container {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}
.box-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  margin: 4rem;
  height: 140px;
  border-radius: 10px;
  box-shadow: rgba(41, 40, 40, 0.147) 0px 45px 35px -1px;
}

.box-content {
    display: flex;
    align-items: center;
}
.box-img-content{
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4rem;
    background-color: #FFECEC;
    border-radius: 25px;
}
.box-text-content-main{
    font-size: 18px;
    font-weight: 700;
    color:var(--text-color-dark);
}
.box-img-content img{
height: 20px;
}