.box2-container {
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin: 4rem;
  height: 200px;
  border-radius: 10px;
  box-shadow: rgba(41, 40, 40, 0.147) 0px 45px 350px -1px;
}
.box2-button > button {
  padding: 1rem 6rem;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  outline: none;
  border: none;
  background: var(--color);
  font-family: var(--font-family);
  border-radius: 10px;
  box-shadow: 0px 30px 40px -10px rgba(209, 47, 47, 0.407);
  cursor: pointer;
}
.box2-text {
  width: 310px;
}
.box2-text > h1 {
  margin-bottom: 1rem;
  color: var(--text-color-dark);
}
.box2-text > p {
  color: var(--text-color-light);
}
