@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

:root {
  --font-family: "Rubik", sans-serif;

  --color: #f53838;
  --text-color-light: #4f5665;
  --text-color-dark: #0b132a;
}
